movie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="archive">
	 <xs:complexType>
	  <xs:sequence>
	   <xs:element name="movie" minOccurs="0"
		 maxOccurs="unbounded">
	   <xs:complexType>
		<xs:sequence>
		 <xs:element name="title"
		 type="xs:string"/>
		 <xs:element name="format"
		 type="xs:string"/>
		 <xs:element name="genre"
		 type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="id"
			type="xs:int" use="required"/>
		</xs:complexType>
	    </xs:element>
	   </xs:sequence>
	 </xs:complexType>
	</xs:element>

</xs:schema>

	